.text-color{
    color : #ffdb4d;
}

.link-nav{
    color: black;
    text-decoration: none;
}

.link-nav:hover{
    color: #ffdb4d;
}

.dropdown:focus{
    text-decoration: none;
    color: #ffdb4d;
}

.link-foot:hover{
    color : white;
}

button:hover{
    background-color: red;
}

.custom-icon{
    font-size: 25px;
}

.custom-button{
    background-color: #ffdb4d;;
}

.custom-button:hover{
    background-color: rgb(255, 255, 255);;
}

.custom-icon-paiements {
    font-size: 60px;
}